@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.hamburger {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  position: fixed;
}

.hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 2px 2px;
          box-shadow: 0 0 2px 2px;
}

.hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #000;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars::before, .hamburger__bars::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #000;
}

.hamburger__bars::before {
  top: -6px;
  -webkit-transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars::after {
  bottom: -6px;
  -webkit-transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars::before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger:focus, .hamburger__container:focus {
  outline: none;
}

.sidebar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  background: #fff;
  -webkit-transition: right .5s;
  transition: right .5s;
  z-index: 100;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar .menu {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar .menu__item {
  text-align: center;
  margin-bottom: 2em;
}

.sidebar .menu__link {
  font-size: 1.5rem;
  color: #333333;
  position: relative;
}

.sidebar .menu__link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #009DE0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.sidebar .menu__link:hover::before {
  width: 100%;
}

.sidebar .social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .social-media i {
  font-size: 1.2rem;
  margin: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #777;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.sidebar .social-media i:hover {
  background-color: #009DE0;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__about {
  margin: 2em;
  color: #727272;
}

.intro__title {
  line-height: 1;
  font-size: 2.5em;
  padding-bottom: .4em;
  margin-bottom: .4em;
  border-bottom: 2px solid #009DE0;
  color: #333333;
  font-weight: bold;
}

.intro__more-info {
  display: none;
}

.intro__more-info-text {
  margin-bottom: 1.5em;
}

.intro__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__img img {
  width: 50%;
}

.offer {
  background-color: #F6F6F6;
  color: #727272;
  position: relative;
}

.offer__wave {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  max-height: 20vh;
}

.offer__wave-bottom {
  margin-top: 2rem;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  top: unset;
  height: 10vh;
  max-height: 10vh;
  bottom: 0;
}

.offer__wave-top-img {
  width: 100%;
  position: absolute;
}

.offer__wave-bottom-img {
  width: 100%;
  position: absolute;
}

.offer__title {
  line-height: 1;
  font-size: 2.5em;
  padding-bottom: .4em;
  margin-bottom: .4em;
  border-bottom: 2px solid #009DE0;
  color: #333333;
  font-weight: bold;
  padding: 80px 20px 20px;
}

.offers {
  width: 100vw;
  min-width: 300px;
  width: 98%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__img-wrapper {
  background: #F6F6F6;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers__img-wrapper img {
  width: 60%;
}

.offers__icon {
  width: 50% !important;
}

.offers__offer {
  background: #fff;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
  border-bottom: 8px solid #009DE0;
  border-radius: 10px;
  padding: 30px;
  margin: 2rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.offers__offer:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.offers__offer--wdth {
  width: 98%;
}

.offers__head {
  color: #000;
  font-size: 1.5rem;
}

.offers__description {
  font-weight: 700;
}

.offers__price {
  font-size: 2rem;
  color: #009DE0;
}

.offers__currency {
  font-size: 1.5rem;
  font-weight: 500;
}

.imgOffers {
  height: 100%;
  padding: 30px;
  margin: 2rem;
  width: 98%;
  margin: 0 auto;
}

.imgOffers__wrap {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
}

.imgOffers__img {
  width: 100%;
}

.offers__offer--info {
  border: none;
  font-size: .8rem;
  cursor: default;
}

.wrapImgAndLandscape {
  position: relative;
  padding-bottom: 4rem;
}

.opinions {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.opinions__opinion {
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.opinions__opinion-shadow {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.opinions__opinion-shadow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.opinions__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions__img {
  border-radius: 50%;
  max-width: 90px;
  margin-right: 0 auto 17px;
}

.opinions__text {
  margin: 0 0 32px 0;
  font-size: .9rem;
  line-height: 1.5;
}

.opinions__name {
  display: inline-block;
  background-color: #009DE0;
  color: #fff;
  padding: 8px 40px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #009DE0;
  position: absolute;
  bottom: -20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.contact {
  margin: 0 20px 20px;
  color: #727272;
}

.contact__header {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333333;
  border-bottom: 2px solid #009DE0;
  padding-bottom: 20px;
  width: 35vw;
  margin-bottom: 20px;
}

.contact__info {
  font-weight: 300;
}

.contact__form-text {
  font-size: .8rem;
  max-width: 50%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 500px;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
}

.contact__input, .contact__textarea {
  min-height: 50px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #333333;
  padding: 5px 0;
  overflow: hidden;
  outline: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.contact__label {
  font-size: .8rem;
  text-transform: uppercase;
  margin: 1em 0;
}

.contact__label--textarea {
  margin: 2em 0;
}

.contact__btn {
  width: 130px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contact__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
}

.contact__img img {
  width: 90%;
}

.footer {
  width: 100%;
}

.footer__socials {
  font-size: 2rem;
  text-align: center;
  background-color: #009DE0;
  color: #fff;
}

.footer__social-item {
  padding: 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.footer__social-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__links {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.footer__header {
  margin: 1.5em;
}

.footer__item {
  color: #9e9e9e;
}

.footer__link {
  margin-bottom: .5em;
  color: #9e9e9e;
  font-size: .8rem;
}

@media (orientation: landscape) {
  .intro__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .offers {
    padding: 0 20px 20px;
  }
  .offers__offer {
    width: 45%;
    margin: 20px 0;
  }
  .offers__offer--info {
    width: 96%;
    margin: 20px auto;
  }
  form {
    width: 70%;
  }
  .contact {
    margin: 0 20px;
  }
  .contact__form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__img {
    width: 20%;
  }
}

@media (min-width: 824px) {
  .intro__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10em 0;
  }
  .intro__about {
    width: 40%;
    margin: 0 40px 0;
  }
  .intro__img {
    width: 50%;
  }
  .intro__img img {
    width: 80%;
  }
  .intro__title {
    font-size: 50px;
    line-height: 50px;
  }
  .offers__offer {
    width: 24%;
    min-width: 300px;
  }
  .wrapImgAndLandscape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .imgOffers {
    width: 50%;
  }
  .offers__flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-bottom: 5em;
  }
  .offers__offer--info {
    width: 100%;
  }
  .offer__wave-bottom-img {
    bottom: 0;
  }
  .contact {
    font-size: 120%;
  }
  .offer__title {
    padding-top: 5em;
  }
  .main {
    width: 80%;
    margin: 0 auto;
  }
  .sidebar {
    width: 40rem;
    right: -40rem;
  }
}

::-webkit-scrollbar-thumb {
  background: #009DE0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.change {
  right: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.btn {
  background-color: #009DE0;
  color: #fff;
  padding: 8px 30px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #009DE0;
}

.btn:hover {
  background-color: #fff;
  color: #009DE0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #009DE0 !important;
  -webkit-transform: scale(2) !important;
          transform: scale(2) !important;
}

.fa-check {
  color: #009DE0;
}

.mgb-1 {
  margin-bottom: 1em;
}

.mgb-05 {
  margin-bottom: .5em;
}

.mgb-1-5 {
  margin-bottom: 1.5em;
}
/*# sourceMappingURL=main.css.map */