
.intro{
    display: flex;
    flex-direction: column;
    &__about{
        margin: 2em;
        color: $secondary-color;
    }
    &__title{
        @include title;
    }
    &__more-info{
        display: none;
    }
    &__more-info-text{
        margin-bottom: 1.5em;
    }
    &__img{
        display: flex;
        justify-content:center ;
        align-items: center;
        & img{
            width: 50%;
        }
    }
}


