.offer{
    background-color: #F6F6F6;
    color: $secondary-color;
    position: relative;

    &__wave{
        position: absolute;
        width: 100vw;
        max-width: 100%;
        height: 20vh;
        max-height: 20vh;
    }
    &__wave-bottom{
        margin-top:2rem ;
        position: absolute;
        width: 100vw;
        max-width: 100%;
        top: unset;
        height: 10vh;
        max-height: 10vh;
        bottom: 0;
    }
    &__wave-top-img{
        width: 100%;
        position: absolute;
    }

    &__wave-bottom-img{
        width: 100%;
        position: absolute;
    }
    &__title{
        @include title;
        padding: 80px 20px 20px;
    }

}

.offers{
    width: 100vw;
    min-width: 300px;
    width: 98%;
    margin: 0 auto;
    transition: transform .3s ease-in;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    // &:hover{
    //     transform: scale(1.05);
    // }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__img-wrapper{
        background: #F6F6F6;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        & img{
            width: 60%;
        }
    }
    &__icon{
        width: 50% !important;
        }
    &__offer{
        background: #fff;
        box-shadow:0 19px 38px rgba(0, 0, 0, 0.1), 0 13px 9px rgba(0, 0, 0, 0.01);
        border-bottom: 8px solid $primary-color;
        border-radius: 10px;
        padding: 30px;
        margin: 2rem;
        transition: transform .3s;
        cursor: pointer;
        &:hover{
        transform: scale(1.05);
    }
    }
    &__offer--wdth{
        width: 98%;
    }
    &__head{
        color: #000;
        font-size: 1.5rem;
    }
    &__description{
        font-weight: 700;
    }
    &__price{
        font-size: 2rem;
        color: $primary-color;
    }
    &__currency{
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.imgOffers{
    height: 100%;
    padding: 30px;
    margin: 2rem;
    width: 98%;
    margin: 0 auto;
    &__wrap{
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #fff;
    }   
    &__img{
        width: 100%;
    }
}
.offers__offer--info{
    border: none;
    font-size: .8rem;
    cursor: default;
}

.wrapImgAndLandscape{
    position: relative;
    padding-bottom: 4rem;
}